@import "lib.css";
body {
    background-color: #202124;
}
* { user-select: none; }
.container { min-height: 95vh; transition: opacity .15s; }
#getJoined, .wav-link-hidden { visibility: hidden; }
#getJoined, #uploadInput { display: none; }
#fileNum { padding-left: 1rem; }
th a { margin-left: -15px; }
canvas.waveform {
    cursor: pointer;
    opacity: .7;
    transition: opacity .2s;
    margin-top: 0.4rem;
    margin-bottom: -0.5rem;
}
canvas.waveform:hover { opacity: .98; }
td { padding: 0; }
td button { margin: 0.5rem; }
.min-width-20 { min-width: 20rem;}
.align-right { text-align: right; }
.check {
    padding: 0;
    width: 4rem;
}
.toggle-check, .sort-check {
    outline: 0.1rem solid #d79c4e;
    border: 0.2rem solid #202124;
    width: 3.25rem;
    height: 3.25rem;
}
.sort-check {
    margin-left: 0.5rem;
}
.move-up, .move-down, .duplicate, .remove { padding: 0; }
.gg-info {
    margin: 0.25rem;
    transform: scale(.6);
    margin-top: -0.15rem;
}
.channel-options {
    border: 1px solid #40392e;
    border-radius: 5px;
    margin-right: 1.5rem;
    padding: 0.5rem;
    width: 6rem;
    text-align: center;
}
.channel-options a {
    color: #40392e;
}
.channel-options a.selected {
    color: #d79c4e;
}
.channel-options-stereo i {
    display: inline-block;
    transform: translateY(0.25rem);
}
.channel-options-stereo i.stereo-circle {
    margin-left: -1.35rem;
}
.logo {
    position: fixed;
    bottom: 0;
    right: 1rem;
    opacity: 0.35;
}
.logo h3::after {
    content: 'v 1.1.0';
    font-size: 1rem;
    position: absolute;
    margin-left: -0.75rem;
    margin-top: 2.55rem;
}
.info-panel-md {
    position: fixed;
    width: 50vw;
    top: 16vh;
    left: 25vw;
    z-index: 1000;
    background-color: #202124;
    border: 1px solid orange;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0px 4px #cf8600;
    display: none;
}
a {
    cursor: pointer;
}
.w-0 { width: 0; }
tr:has(.check.button-outline) {
    opacity: 0.55;
}
.download-buttons {
    width: 29rem;
}
.btn-download {
    padding: 0;
    width: 14.25rem;
}
.dl-spaced{
    width: 22rem;
    padding: 0;
}
.slice-group {
    border: 1px solid orange;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 0.25rem;
    width: 29rem;
}
.button-clear.remove {
    color: #343433;
    transition: color .2s;
}
.button-clear.remove:hover {
    color: #5e1a1a;
}
.file-num {
    position: fixed;
    bottom: 1.5rem;
    margin-left: 1rem;
    opacity: .45;
    background: #202124;
    border-radius: 5px;
    text-align: center;
    line-height: 1.5rem;
    vertical-align: middle;
    padding: 0.5rem 0.7rem 0.1rem 0;
    transform: scale(0.9);
}
.left-buttons .button, .left-buttons .btn-audio-config {
    padding: 0 1.5rem;
    margin-right: 0.5rem;
    width: 47%;
}
.left-buttons .button:last-child {
    margin-right: 0;
}
.right-buttons i, .left-buttons i {
    display: inline-block;
    margin-top: 0;
    margin-right: 0.5rem;
    top: 0.35rem;
}
.btn-audio-config * { color: #7a6241; }
.btn-audio-config:hover * { color: #d79c4e;; }
.no-files {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 5rem;
    opacity: .25;
}
.loading-message {
    display: none;
    top: 40vh;
    position: fixed;
    width: 100%;
    font-size: 3rem;
    text-align: center;
}
.loading-message div {
    width: 32rem;
    margin: auto;
}
.loading-message .gg-spinner {
    transform: scale(2);
    margin-top: 4rem;
}
.loading-message span {
    margin-left: 5rem;
    margin-top: -3.25rem;
    display: block;
}
.loading .loading-message {
    display: block;
}
.loading .container {
    opacity: .15;
}
.gradient-text {
    background-color: #606c76;
    background-image: linear-gradient(90deg, #606c76, #606c76);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.btn-audio-config {
    background-color: #202124;
    text-align: left;
    /*color: #d79c4e;*/
    color: #606c76;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border-color: #313438;
    background-blend-mode: soft-light;
}
@media (max-width: 40.0rem) {
    .container { margin-top: 2.5rem; }
    .min-width-20, .column-33, .column-33 .download-buttons, .column-33 .slice-group { width: 100%; }
    .column-33 .btn-download { width: 49.3%;}
    .column-33 .check { width: 15.4%; }
    .column-33 .dl-spaced { width: 81.5%;}
    .left-buttons .row { display: block; }
    .left-buttons .button { width: 48.5%; margin-right: 0.1rem; }
    .left-buttons .row .button:first-child { margin-left: 0.25rem;}
    .info-panel-md { width: 95%; left: 2.5%; }
}
