@import "lib.css";
body {
    background-color: #202124;
}
* { user-select: none; }
.show { display: block !important; }
.no-display { display: none !important; }
.disabled {
    opacity: .5;
}
.clear {
    clear: both;
}
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.logo {
    position: fixed;
    bottom: 0;
    right: 1rem;
    height: 2rem;
    opacity: 0.35;
}
.pop-up.show ~ .pop-up-blind, *::backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(32 33 36 / 76%);
    z-index: 99;
}
#toggleOptionsButton {
    position: absolute;
    margin-left: 50vw;
    /*margin-top: 19rem;*/
    margin-top: .85rem;
    color: #d79c4e30;
    text-align: center;
    cursor: pointer;
    transition: margin-top .25s ease-in;
}
#toggleOptionsButton i {
    background-color: #202124;
}
#toggleOptionsButton.collapsed {
    margin-top: 0.85rem;
}
.logo h3::after {
    content: attr(data-version);
    font-size: 1rem;
    position: absolute;
    margin-left: -0.75rem;
    margin-top: 2.55rem;
}
.container {
    min-height: 95vh;
    transition: opacity .15s;
    min-width: 400px;
    padding: 0 1rem;
}
.all-options {
    position: sticky;
    top: 0;
    background-color: #202124;
    z-index: 2;
    padding-top: 4rem;
    margin-top: -1rem;
    padding-bottom: 0.75rem;
    border-bottom: 0.1rem solid #d79c4e30;
    transition: all .25s ease-in;
}
.all-options.hidden {
    transform: translateY(-19rem);
    margin-top: -19rem;
}
.header-menu {
    position: fixed;
    background-color: #2c2d30;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 3;
}
#infoIndicator, .file-num {
    float: right;
    font-size: 1.3rem;
    margin-right: 5rem;
    margin-left: 5rem;
    opacity: .7;
}
.file-num {
    float: left;
}
input, .btn-audio-config { color: #a8a8a8; }
.input-set input, .btn-audio-config {
    width: 65%;
    padding: 0 0.5rem;
    border: 1px solid #8a5d2e;
    padding-left: 7.5rem;
}
.input-set[readonly], .btn-audio-config {
    border: 1px solid #312b25;
}
.input-set button {
    padding: 0 2.5rem;
}
.input-set .before-input {
    position: absolute;
    color: #815e36;
    line-height: 4rem;
    margin-left: 0.75rem;
    font-size: 1.2rem;
}
.input-set {
    margin-top: -1.5rem;
    display: flex;
}
.input-set:first-child {
    margin-top: 0;
    margin-bottom: -1rem;
}
#getJoined, .wav-link-hidden, .meta-link-hidden, .hidden { visibility: hidden; }
.hide { display: none !important; }
.fade { opacity: .15 !important; }
.slice-loop {
    background-color: #511eb963 !important;
}
.file-loop-on:before, .file-loop-pp:before {
    content: '';
    border-top: 2px dotted #00cbff;
    display: block;
}
.file-loop-pp:before {
    border-top: 2px dashed #fff700;
}
#getJoined, #uploadInput, #uploadSliceFile { display: none; }
#fileNum { padding-left: 1rem; }
#fileNum.gg-spinner {padding-left: 3rem; }
#fileNum.gg-spinner::before {margin-left: -2.5rem; }
#fileNum.gg-spinner::after {display: none; }
table#masterList { padding-bottom: 12rem; padding-top: 1rem; }
#fileList {
    content-visibility: auto;
}
#fileList:empty::after {
    content: 'Load / Drop samples here to get started... (Shift+K to see keyboard shortcuts)';
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    opacity: .35;
    position: absolute;
    width: 100%;
    font-size: 2rem;
    border: 2px dashed #40392e;
    border-radius: 1.5rem;
    margin-top: 1rem;
    max-width: 97vw;
}
th a { color: #606c76; }
th a:first-of-type { margin-left: -15px; color: #d79c4e; }
.sort-by-selected {
    width: 4.5rem;
    display: inline-block;
    margin-left: -2.5rem;
}
.end-of-grid td {
    border-bottom: 2px solid #4ed75f40;
}
tr.file-row.end-of-grid::after {
    content: 'end joined file';
    position: absolute;
    margin-left: -50%;
    margin-top: 5.7rem;
    font-size: 0.8rem;
    text-align: center;
    opacity: .75;
    overflow: hidden;
}
tr.selected {
    /*background-color: #cb9d5b0d;*/
    background-color: #cb9d5b14;
}
td.waveform-td:has(canvas) {
    width: 180px;
}
canvas.waveform {
    cursor: pointer;
    opacity: .7;
    transition: opacity .2s;
    margin-top: 0.4rem;
    margin-bottom: -0.5rem;
    transform: scaleY(0.95) translateY(-0.1rem);
}
canvas.waveform:hover { opacity: .98; }

.chain-name-toggle {
    padding: 0;
    margin-left: -1.5rem;
    height: 0;
    transition: all .25s ease;
    display: block;
    margin-top: -1.5rem;
}
.chain-name-toggle:hover {
    color: #d79c4e;
    opacity: 1 !important;
}
.chain-file-name-option.used {
    opacity: .5;
    text-decoration: line-through;
}
@keyframes waveformPlayHead {
    from { margin-left: 0; }
    to { margin-left: 150px; }
}

.waveform-td:has(canvas.waveform.playing)::before {
    content: '';
    display: block;
    position: absolute;
    margin-left: 140px;
    margin-top: 8px;
    width: 0;
    height: 0;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-left: .75rem solid #008000b0;
}
.waveform-btn.playing {
    color: #008000b0;
}
td.waveform-td span.play-head {
    display: none;
    height: 56px;
    width: 1px;
    position: absolute;
    background-color: #4a4032;
    margin-top: -61px;
    margin-left: 0;
    animation-timing-function: linear;
}
.waveform-td:has(canvas.waveform.playing) span.play-head {
    animation-name: waveformPlayHead;
    display: block;
}
td.waveform-td span.play-head.play {
    margin-left: 150px !important;
}

.waveform-container {
    width: auto;
    height: 15rem;
    border-left: 1px solid #d79c4e30;
    border-right: 1px solid #d79c4e30;
    padding-top: 2rem;
    margin-bottom: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
}
.waveform-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}
.file-path-td::-webkit-scrollbar {
    display: none;
}
#sliceLines { margin-top: -150px; }
.waveform-container .line, .waveform-container .edit-line {
    /*height: 150px;*/
    /*width: 1px;*/
    /*background-color: #e18603;*/
    /*margin-top: -150px;*/
    height: 150px;
    width: 1px;
    border-left: 1px solid #e18603;
    border-right: 1px solid #9f4141;
    margin-top: -150px;
    background-color: #99794b1a;
    opacity: .85;
}
.waveform-container .edit-line {
    pointer-events: none;
}
.waveform-container .edit-line:before,
.waveform-container .edit-line:after {
    content: '';
    width: 4px;
    height: 4px;
    display: block;
    border: 1px solid;
    visibility: hidden;
}
.waveform-container .edit-line:before {
    margin-left: -1px;
}
.waveform-container .edit-line:after {
    transform: translateX(1px);
    float: right;
    margin-top: -6px;
}
.waveform-container .edit-line.start-is-zero-crossing:before,
.waveform-container .edit-line.end-is-zero-crossing:after {
    visibility: visible;
}

td { padding: 0; }
td .gg-more-vertical { opacity: .25; }
td button { margin: 0.5rem; }
.min-width-20 { min-width: 20rem;}
.align-right { text-align: right; }
.check {
    padding: 0;
    width: 4.2rem;
}
.waveform-td { padding: 0 1rem; }
.is-ot-file::after, .is-op-file::after, .is-dc-file::after, .sff-button::after, .is-chain-count::after, .file-has-slice-data::after {
    text-align: center;
    content: 'DC';
    color: #b91c1c;
    font-size: .75rem;
    margin-top: -0.55rem;
    position: absolute;
    margin-left: 0.9rem;
    background-color: #202124;
    line-height: 1rem;
    min-width: 1rem;
}
.is-dc-file::after, .is-op-file::after {
    content: attr(data-slice-count);
}
.sff-t1::after {
    content: 'T1';
}
.sff-t2::after {
    content: 'T2';
}
.sff-t3::after {
    content: 'T3';
}
.sff-t4::after {
    content: 'T4';
}
.is-chain-count::after {
    content: attr(data-count);
}
.file-path { display: block; word-break: break-word; }
.toggle-check, .sort-check {
    border: 0.2rem solid #40392e;
    width: 3.25rem;
    height: 3.25rem;
}
.sort-check {
    margin-left: -1rem;
}
.move-up, .move-down, .duplicate, .remove, .toggle-edit { padding: 0; }
.gg-info {
    margin: 0.25rem;
    transform: scale(.6);
    margin-top: -0.15rem;
}
.sample-op-buttons .button {
    width: 8.5rem;
    padding: 0;
}
.sample-op-buttons {
    padding-bottom: 1rem;
    text-align: center;
}
.sample-op-buttons::before {
    content: attr(data-sample-duration);
    position: absolute;
    left: 2.5rem;
    margin-top: -2rem;
    font-size: 1.2rem;
}
.edit-btn-group {
    max-width: 35%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.edit-btn-group.float-right {
    max-width: 20%;
    justify-content: end;
}

.slice-range {
    display: none;
    width: 1024px;
    padding: 0;
    margin: 0;
    z-index: 2;
    background: transparent;
    position: absolute;
    appearance: none;
}
.slice-range:first-of-type {
    margin-top: -3rem;
}
/*.select.split {*/
/*    background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" > <path d="M4 4H8V8H4V4Z" fill="currentColor" /> <path d="M4 10H8V14H4V10Z" fill="currentColor" /> <path d="M8 16H4V20H8V16Z" fill="currentColor" /> <path d="M10 4H14V8H10V4Z" fill="currentColor" /> <path d="M14 10H10V14H14V10Z" fill="currentColor" /> <path d="M10 16H14V20H10V16Z" fill="currentColor" /> <path d="M20 4H16V8H20V4Z" fill="currentColor" /><path d="M16 10H20V14H16V10Z" fill="currentColor" /> <path d="M20 16H16V20H20V16Z" fill="currentColor" /> </svg>') center right no-repeat !important;*/
/*    padding-right: 3.0rem;*/
/*}*/
.channel-options, .pan-options {
    border: 1px solid #40392e;
    border-radius: 5px;
    margin-right: 1.5rem;
    padding: 0.75rem 0.5rem 0.25rem 0.5rem;
    width: 7rem;
    text-align: center;
}
.channel-options a, .pan-options a {
    color: #40392e;
    margin-bottom: 0.2rem;
    display: inline-block;
    opacity: .5;
}
.channel-options a.selected, .pan-options a.selected {
    color: #d79c4e;
    opacity: 1;
}
/*.channel-options-stereo i {*/
/*    display: inline-block;*/
/*    transform: translateY(0.25rem);*/
/*}*/
/*.channel-options-stereo i.stereo-circle {*/
/*    margin-left: -1.35rem;*/
/*}*/

.channel-options-stereo-opf {
    padding-bottom: 0;
}
.channel-options-stereo-opf span.op-la,
.channel-options-stereo-opf span.op-rb {
    width: 2.9rem;
    display: inline-block;
    float: left;
}
.channel-options-stereo-opf span.op-la {
    border-right: 1px solid rgba(64, 57, 46, 0.6);
}

.channel-options-stereo-opf input.channel-balance {
    width: 7rem;
    margin-left: -0.5rem;
    position: absolute;
    height: 2.1rem;
    background: transparent;
    appearance: none;
}
.channel-options-stereo-opf input.channel-balance::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 4px;
    background: #3f382e;
}
.channel-options-stereo-opf input.channel-balance:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.channel-options-stereo-opf .op-la::after {
    content: 'L';
}
.channel-options-stereo-opf .op-rb::before {
    content: 'R';
}
.channel-options-stereo-opf.op-pan-ab-true .op-la::after {
    content: 'A';
}
.channel-options-stereo-opf.op-pan-ab-true .op-rb::before {
    content: 'B';
}
.info-panel-md, .split-panel-options, .edit-panel-options,
.merge-panel-options, .not-served-md, .export-settings-panel-md,
.op-export-panel-options, .chain-name-list-panel-md {
    position: fixed;
    width: 512px;
    top: 10vh;
    left: 50%;
    margin: 0 -256px;
    z-index: 100;
    background-color: #202124;
    border: 1px solid orange;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 4px #cf8600;
    box-sizing: content-box;
    max-width: 512px;
    transition: opacity .33s ease-in;
    display: none;
}

.shortcut-container {
    display: flex;
}
.shortcut-section {
    margin: -1rem 1rem 0 1rem;
    min-width: 48%;
}

#exportSettingsPanel .disabled {
    pointer-events: none;
    user-focus: none;
    opacity: .33;
}
#exportSettingsPanel .export-options {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid;
    padding-bottom: 0.5rem;
}
#exportSettingsPanel .export-options span {
    padding: 1rem;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}
#exportSettingsPanel .export-options span.active {
    border-color: #d79c4e;
    color: #d79c4e;
}
#exportSettingsPanel .input-set input {
    max-width: 28.5rem;
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 3.5rem;
}
#exportSettingsPanel .input-set label {
    padding-top: 1.4rem;
}
#exportSettingsPanel .input-set button {
    padding-top: 1.4rem;
    margin-left: -3rem;
}
#exportSettingsPanel button {
    padding: 0;
    width: 4.2rem;
    height: 2.5rem;
    line-height: 2rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
#exportSettingsPanel tr {
    min-height: 2rem;
}
#exportSettingsPanel input[type=radio] {
    background-color: transparent;
    color: #d79c4e;
}
#exportSettingsPanel input[type=radio]:checked {
    background-color: #d79c4e;
    color: #fff;
}
#exportSettingsPanel #sliceGridGroup {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}
#exportSettingsPanel #sliceGridGroup input {
    max-width: 5rem;
    margin-right: 1rem;
    min-width: 4rem;
    padding: 0 1rem;
    border: 0.1rem solid #d1d1d12b;
}
#exportSettingsPanel #sliceGridGroup input::-webkit-outer-spin-button,
#exportSettingsPanel #sliceGridGroup input::-webkit-inner-spin-button {
    display: none;
}
#settingAudioConfig button.check {
    width: 7rem;
}

.above-waveform-buttons {
    width: 100%;
    display:inline-block;
    margin-top: 1rem;
}

.playback-controls button {
    padding: .5rem;
    margin: 0;
    width: 2rem;
    height: 2.25rem;
    text-align: center;
    vertical-align: middle;
    margin-top: -.25rem;
}

.zoom-level {
    position: absolute;
    right: 3rem;
}
.zoom-level button {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: .25rem;
}


dialog {
    color: #606c76;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    /*width: 512px;*/
    width: 75vw;
    max-width: 768px;
    background-color: #202124;
    border: 1px solid orange;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 4px #cf8600;
    box-sizing: content-box;
    transition: opacity .33s ease-in;
    max-height: 89vh;
    outline: none;
}

#welcomePanelMd .tip-header {
    margin-left: 1rem;
}
#tipElement .tip {
    border: 1px solid #40392e;
    border-radius: 5px;
    padding: 1.5rem;
}

.op-export-panel-options { top: 1vh;}
.op-export-side-panel-options {
    width: 50rem;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -50rem;
    z-index: 5;
    border-left: 1px solid #2c2d30;
    max-width: 50%;
    transition: right .33s ease-in;
    padding: 1rem;
    /*background: #202124c7;*/
    background-color: #202124;
    overflow-y: auto;
}
.op-export-side-panel-options.show {
    right: 0;
}
.op-chain-drop-zone {
    border-style: dashed;
    color: #483f33 !important;
    margin-left: 2rem;
    padding: 0 1rem;
}
/*#masterList { padding-right: 25rem; }*/
/*td.move-up-td, td.move-down-td {display:none;}*/

.loading .op-export-side-panel-options.show {
    opacity: .05;
}
#opExportPanelContent {
    margin: 2rem;
}
 a {
    cursor: pointer;
}
.w-0 { width: 0; }
.p-0 { padding: 0; }
#fileList tr:has(.check.button-outline) {
    opacity: 0.55;
}
.download-buttons {
    width: 35rem;
}
.btn-download {
    padding: 0;
    width: 15.5rem;
}
.btn-download-all {
    margin-left: 1rem;
}
.dl-single-files { width: 10rem; }
.dl-spaced{
    width: 15.5rem;
    padding: 0;
    float: left;
}

button:has(.selection-count[data-selection-count="0"]),
button:has(.join-count[data-join-count="0"]) {
    opacity: .2;
    cursor: not-allowed;
}
.toggle-export-settings, .toggle-seconds-per-file {
    padding: 0 1rem;
    float: right;
    transform: translateY(-0.75rem);
}
.toggle-seconds-per-file {
    margin: 0.7rem 0 0 0;
    color: #d79c4e;
}
.toggle-seconds-per-file.on { color: #d79c4e !important;}
.slice-group {
    border: 1px solid orange;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 0.25rem;
    width: 35rem;
    height: 10.75rem;
    background-color: #202124;
    transition: transform .2s ease-in;
}
.waveform-container .slice-group {
    padding-bottom: 2rem;
}
.all-options.hidden .slice-group.float-down {
    transform: translateY(14rem);
}
.button-clear.remove {
    color: #343433;
    transition: color .2s;
}
.button-clear.remove:hover {
    color: #5e1a1a;
}
button.sel-transient { margin-left: .5rem; }
button.sel-transient:is(.button-outline) ~ #transientThreshold {
    display: none !important;
}
#transientThreshold {
    width: 4.5rem;
    height: 2.5rem;
}
.left-buttons .button, .left-buttons .btn-audio-config {
    padding: 0 1.5rem;
    margin-right: 0.5rem;
    width: 47%;
}
.left-buttons .button:last-child {
    margin-right: 0;
}

.load-file-label {
    width: 21% !important;
}
.btn-audio-config {
    width: 73.5% !important;
}

.selected-actions-button-list {
    position: absolute;
    margin-top: 4.25rem;
    border: 1px solid #d79c4e30;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border-radius: 0.4rem;
    background-color: #202124;
    z-index: 1;
    max-width: 45rem;
    max-height: 60vh;
    overflow: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.selected-actions-button-list .button-outline, .selected-actions-button-list .button-clear {
    width: 14rem;
    padding: 0;
}

.right-buttons i, .left-buttons i {
    display: inline-block;
    margin-top: 0;
    margin-right: 0.5rem;
    top: 0.35rem;
}
.right-buttons {
    transition: opacity .33s ease-in;
}
.right-buttons:has(.toggle-seconds-per-file.on) button.check:not(.slice-grid-off),
.right-buttons:has(.toggle-seconds-per-file.on) button.dl-spaced {
    pointer-events: none;
    color: #2f3234;
    border-color: #2f3234 !important;
    background-color: transparent !important;

}
.btn-audio-config * { color: #7a6241; }
.btn-audio-config:hover * { color: #d79c4e; }
.loading-message {
    display: none;
    top: 40vh;
    position: fixed;
    width: 100%;
    font-size: 3rem;
    text-align: center;
}
.loading-message div {
    width: 32rem;
    margin: auto;
}
.loading-message .gg-spinner {
    transform: scale(2);
    margin-top: 4rem;
}
.loading-message span {
    margin-left: 5rem;
    margin-top: -3.25rem;
    display: block;
}
.loading .loading-message {
    display: block;
    z-index: 100;
}
.loading .container {
    opacity: .15;
}
.gradient-text {
    background-color: #606c76;
    background-image: linear-gradient(90deg, #606c76, #606c76);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.btn-audio-config {
    background-color: #202124;
    text-align: left;
    /*color: #d79c4e;*/
    color: #606c76;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border-color: #313438 !important;
    background-blend-mode: soft-light;
}
#splitOptions .slice-group {
    width: auto;
    border: none;
}
#splitOptions .split-right-action-buttons button {
    padding: 0 1rem;
    margin-right: .5rem;
    min-width: 11rem;
}
#splitOptions .button-create-ot {
    visibility: hidden;
}
body[data-target-sr="44100"] #splitOptions .button-create-ot {
    visibility: visible;
}
.slice-options {
    margin-top: -1.5rem !important;
}
.slice-options label {
    margin-top: .25rem;
}
.slice-options #sliceSelection {
    width: 12rem;
    padding: 0;
    margin-top: .2rem;
    padding-left: 5rem;
    background-color: #202124;
    text-align: left;
    color: #606c76;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border: 1px solid #8a5d2e;
    background-blend-mode: soft-light;
}
.slice-options button {
    padding: 0 .5rem;
}
.touch-buttons {
    /*display: none;*/
    position: fixed;
    bottom: 0;
    width: 10rem;
    z-index: 101;
}
.touch-buttons button {
    width: 100%;
    background: #202124 !important;
    opacity: .33;
}
.touch-buttons button#modifierKeyshiftKey.active {
    opacity: 1;
    background-color: #4E99D7A0 !important;
    color: #fff !important;
}
.touch-buttons button#modifierKeyctrlKey.active {
    opacity: 1;
    background-color: #d74e81a1 !important;
    color: #fff !important;
}

.has-shift-mod, .has-ctrl-mod, .has-shift-mod-i, .has-ctrl-mod-i {
    transition: all .1s linear;
}

body.shiftKey-mod-down .has-shift-mod,
body.shiftKey-down .has-shift-mod {
    border-color: #4E99D7A0 !important;
    color: #d79c4e;
    background-color: transparent !important;
}
body.ctrlKey-mod-down .has-ctrl-mod,
body.ctrlKey-down .has-ctrl-mod {
    border-color: #663247 !important;
    background-color: transparent !important;
    color: #d79c4e;
}
body.ctrlKey-mod-down .split[class*="is-"] .has-ctrl-mod-i,
body.ctrlKey-down .split[class*="is-"] .has-ctrl-mod-i,
body.ctrlKey-mod-down .has-ctrl-mod-i,
body.ctrlKey-down .has-ctrl-mod-i {
    color: #663247  !important;
}
body.shiftKey-mod-down.ctrlKey-mod-down .has-shift-mod.has-ctrl-mod,
body.shiftKey-down.ctrlKey-down .has-shift-mod.has-ctrl-mod {
    border-left-color: #663247 !important;
    border-top-color: #663247 !important;
    border-right-color: #4E99D7A0 !important;
    border-bottom-color: #4E99D7A0 !important;
    background-color: transparent !important;
    color: #d79c4e;
}
body.shiftKey-mod-down .has-shift-mod-i,
body.shiftKey-down .has-shift-mod-i {
    color: #4E99D7A0  !important;
}

.mh-60vh {
    max-height: 60vh;
    overflow: auto;
}
.merge-info, .edit-info, .file-nav-buttons {
    position: relative;
    font-size: 1.05rem;
    opacity: .8;
    float: left;
    max-width: 80%;
    margin-top: 1rem;
}
.file-nav-buttons {
    float: right;
}
.settings-info {
    position: absolute;
    font-size: 1.05rem;
    opacity: .8;
}

table#mergeList th {
    padding-left: 0;
}
table#mergeList td.file-path-td {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.current-selection-text {
    position: absolute;
    font-size: 1.1rem;
    opacity: .5;
    padding-left: 0.5rem;
}

.path-exceeds-127 {
    /*border-left: 2px solid #5d1d1d;*/
    padding-left: .25rem;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to bottom, transparent, #5f404b, transparent);
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    padding-left: 1rem;
    margin-left: -1rem;
}
body.grid-view .path-exceeds-127 {
    margin-left: 0;
}

/*OP Editor*/
.op-key {
    width: 22rem;
    height: 5rem;
    border: 1px solid;
    border-radius: 7px;
    margin: 3px;
    float: left;
    background-color: #202124b5;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
}

.op-key.white.selected::before,
.op-key.black.selected::before {
    content: ' ';
    background-color: #d79c4e !important;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    position: absolute;
    margin-top: 2rem;
    opacity: 1;
    margin-left: -2rem;
}
.in-link-mode .op-key.black.selected::before {
    margin-left: 22.5rem;
}

.op-key.black:nth-of-type(1) { margin-top: 3rem; }
.op-key.black:nth-of-type(4), .op-key.black:nth-of-type(6), .op-key.black:nth-of-type(9) { margin-top: 6rem; }

.op-key .left-a {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 5rem;
    background: #3c2b1366;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    padding: 1px;
    opacity: 0;
    transition: opacity .15s ease;
    min-width: 33%;
}
.op-key .right-b {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 5rem;
    text-align: center;
    background: #3c2b1366;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    padding: 1px;
    opacity: 0;
    transition: opacity .15s ease;
    min-width: 33%;
}

.op-key .center-c {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 33%;
}

.op-key.drag-over .left-a,
.op-key.drag-over .right-b,

.op-key:has(.left-a.drag-over) .right-b,
.op-key:has(.right-b.drag-over) .left-a
{
    opacity: 1;
}
.op-key.drag-over .left-a.drag-over,
.op-key.drag-over .right-b.drag-over,
.op-key .left-a.drag-over,
.op-key .right-b.drag-over,
.op-key .left-a[title$='.'],
.op-key .right-b[title$='.'] {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    visibility: visible;
    opacity: 1;
}

.op-key .center-c[title$='.'] {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    visibility: visible;
    opacity: 1;
}

.op-key::after {
    position: absolute;
    line-height: 5rem;
    padding-left: 1rem;
    opacity: .85;
    z-index: -1;
}
.op-key.key-0::after { content: '1 kick'; }
.op-key.key-1::after { content: '2 kick alt'; }
.op-key.key-2::after { content: '3 snare'; }
.op-key.key-3::after { content: '4 snare'; }
.op-key.key-4::after { content: '5 rim'; }
.op-key.key-5::after { content: '6 clap'; }
.op-key.key-6::after { content: '7 tamb'; }
.op-key.key-7::after { content: '8'; }
.op-key.key-8::after { content: '9 closed hat'; }
.op-key.key-9::after { content: '10 kick'; }
.op-key.key-10::after { content: '11 open hat'; }
.op-key.key-11::after { content: '12'; }
.op-key.key-12::after { content: '13'; }
.op-key.key-13::after { content: '14 ride'; }
.op-key.key-14::after { content: '15'; }
.op-key.key-15::after { content: '16 crash'; }
.op-key.key-16::after { content: '17'; }
.op-key.key-17::after { content: '18'; }
.op-key.key-18::after { content: '19'; }
.op-key.key-19::after { content: '20'; }
.op-key.key-20::after { content: '21'; }
.op-key.key-21::after { content: '22'; }
.op-key.key-22::after { content: '23'; }
.op-key.key-23::after { content: '24'; }

.op-key-linked {
    display: flex;
    align-items: center;
    width: 2.5rem;
    justify-content: space-between;
}

.sample-list {
    width: 40%;
    border: 1px solid;
    float: left;
    max-height: 60rem;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;
}
/*.white-keys, .black-keys {*/
/*    width: 28%;*/
/*}*/

.white-keys .op-key {
    float: right;
}

.op-key-details {
    display: none;
    width: 45%;
    min-height: 78rem;
    border: 1px solid #606c76;
    border-radius: 7px;
    position: absolute;
    background-color: #202124;
    z-index: 1;
    margin-top: .5rem;
    margin-left: -.4rem;
    padding: .5rem;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 45%;
}

.op-key-details-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.op-key-detail {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;
}
.op-key-detail-title {
    border-bottom: 1px solid #43392d;
}
.op-key-spacer {
    border-top: 1px solid #43392d;
    margin-bottom: 1rem;
    height: 1rem;
    display: block;
}

.op-key-detail-name {
    width: 75%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.op-key-detail-name:empty::before {
    content: 'no sample';
    opacity: .35;
}

#opExportPanelContent:has(.op-key.selected) .op-key-details:not(:empty) {
    display: flex;
}

#opExportPanelContent:has(.op-key.selected) .op-key:not(.selected) {
    opacity: .4;
}

.op-samples-length-bar {
    display: flex;
    width: 100%;
    height: 1rem;
    border: 1px solid #43392d;
    border-radius: 7px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.op-samples-length-bar .fill {
    display: flex;
    background-color: #7f8081;
    border-radius: 7px;
}
.op-samples-length-bar::after {
    content: attr(data-caption);
    width: 100%;
    font-size: 1.25rem;
    position: absolute;
    margin-top: -2rem;
    text-align: right;
    margin-left: -7rem;
}

.op-buttons button {
    margin-right: 1rem;
}

@media (min-width: 430px) {
    body.grid-view #masterList tr {
        display: none;
    }

    body.grid-view #masterList tr.file-row {
        display: block;
        width: 26rem;
        height: 30rem;
        float: left;
        border: 0.1rem solid #d79c4e30;
        border-radius: 10px;
        padding: 1.2rem 1.5rem;
        margin: .5rem;
    }

    body.grid-view #masterList td {
        border: none;
        display: inline-block;
    }


    body.grid-view #masterList .move-up-td {
        position: absolute;
        margin-left: 15rem;
        margin-top: -1rem;
    }

    body.grid-view #masterList .move-down-td {
        position: absolute;
        margin-left: 15rem;
        margin-top: 2rem;
    }

    body.grid-view #masterList .waveform-td {
        margin-left: 4rem;
    }

    body.grid-view #masterList td.file-path-td {
        width: 85%;
        height: 13rem;
        overflow-y: auto;
    }

    body.grid-view #masterList td.duration-td {
        width: 100%;
        margin-top: .5rem;
        padding-right: 4rem;
        opacity: .7;
        margin-left: 8rem;
    }

    body.grid-view #masterList td.toggle-edit-td {
        position: absolute;
        margin-left: 21rem;
        margin-top: -14.5rem;
    }

    body.grid-view #masterList td.split-td {
        position: absolute;
        margin-left: 17.5rem;
        margin-top: -10rem;
    }

    body.grid-view #masterList td.duplicate-td {
        position: absolute;
        margin-left: 21rem;
        margin-top: -7.5rem;
    }

    body.grid-view #masterList td.remove-td {
        position: absolute;
        margin-left: 21rem;
        margin-top: -3.5rem;
    }

    body.grid-view #masterList td.channel-options-td {
        margin-top: -3rem;
        position: absolute;
        margin-left: 0rem;
    }

    body.grid-view #masterList tr.end-of-grid {
        border-bottom: 2px solid #4ed75f40;
        border-right: 2px solid #4ed75f40;
    }
    body.grid-view #masterList tr.end-of-grid::after {
        margin-left: 9rem;
        margin-top: 0.7rem;
    }
}

@media (max-width: 40.0rem) {
    .container { margin-top: 2.5rem; }
    .min-width-20, .column-33, .column-33 .download-buttons, .column-33 .slice-group { width: 99%; }
    .column-33 .btn-download:not(:first-of-type) { width: 49.3%;}
    .column-33 .check { width: 13.1%; }
    .left-buttons .row { display: block; }
    .left-buttons .button { width: 48.5%; margin-right: 0.1rem; }
    .left-buttons .row .button:first-child { margin-left: 0.25rem;}
    .info-panel-md, .split-panel-options {
        width: 90%;
        left: 4.5%;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .all-options.hidden {
        transform: translateY(-34rem);
        margin-top: -31rem;
    }
    #toggleOptionsButton {
        /*margin-top: 35.5rem;*/
        margin-top: .85rem;
    }
}

@media (max-width: 350px) {
    .container {
        display: block;
        margin: -2rem 0 0 -2rem;
    }

    .end-of-grid td {
        border-bottom: none;
    }

    .end-of-grid .waveform-td {
        border-bottom: 0.1rem solid #d79c4e30;
    }

    table#masterList {
        overflow-x: hidden;
        padding-top: 2.5rem;
    }

    #toggleOptionsButton {
        /*margin-top: 34rem;*/
    }

    #masterList tr {
        display: none;
    }

    #masterList tr.file-row {
        display: block;
        width: 98%;
        height: 20rem;
        float: left;
        border: 0.1rem solid #d79c4e30;
        border-radius: 10px;
        padding: .7rem 1rem;
        margin: .5rem
    }

    #masterList td {
        border: none;
        display: inline-block;
    }


    #masterList .move-up-td {
        position: absolute;
        margin-left: 24rem;
        margin-top: -1rem;
    }

    #masterList .move-down-td {
        position: absolute;
        margin-left: 24rem;
        margin-top: 2rem;
    }

    #masterList .waveform-td {
        margin-left: 3rem;
        border: 0.1rem solid #d79c4e30;
        padding: 0 1rem;
        border-radius: .5rem;
    }

    #masterList td.file-path-td {
        width: 70%;
        height: 5rem;
        text-overflow: ellipsis;
        margin-right: -13rem;
        overflow: hidden;
    }

    #masterList td.file-path-td span, #masterList td.file-path-td a {
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #masterList td.duration-td {
        width: 100%;
        margin-top: 3rem;
        margin-left: 8rem;
        opacity: .7;
    }

    #masterList td.toggle-edit-td {
        position: absolute;
        margin-left: 30.25rem;
        margin-top: -12.25rem;
    }

    #masterList td.split-td {
        position: absolute;
        margin-left: 27rem;
        margin-top: -8rem;
    }

    #masterList td.duplicate-td {
        position: absolute;
        margin-left: 30.5rem;
        margin-top: -6rem;
    }

    #masterList td.remove-td {
        position: absolute;
        margin-left: 30.5rem;
        margin-top: -3rem;
    }

    #masterList td.channel-options-td {
        margin-top: -3rem;
        position: absolute;
        margin-left: 0rem;
    }

    body.grid-view #masterList tr.end-of-grid {
        border-bottom: 2px solid #4ed75f40;
    }

    #masterList tr.file-row.end-of-grid::after {
        content: 'end joined file';
        position: absolute;
        margin-left: 15rem;
        margin-top: 0.7rem;
        font-size: 0.8rem;
        text-align: center;
        opacity: .75;
    }

    .edit-btn-group.float-left {
        max-width: 55% !important;
    }
    .edit-btn-group.float-right {
        max-width: 30% !important;
    }
}

@media (max-width: 430px), (max-height:650px) {
    html {
        font-size: 50%;
        overflow-x: hidden;
    }
    .all-options {
        padding-right: 1rem;
    }
    .info-panel-md, .split-panel-options, .edit-panel-options, .merge-panel-options, .not-served-md, .export-settings-panel-md, .op-export-panel-options, .chain-name-list-panel-md {
        position: fixed;
        top: 1vh;
        max-height: 98vh;
        left: 0;
        margin: 0;
        z-index: 100;
        background-color: #202124;
        border: 1px solid orange;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 0 0 4px #cf8600;
        box-sizing: border-box;
        max-width: 99vw;
        height: 98vh;
        width: 99vw;
        transition: opacity .33s ease-in;
        overflow: auto;
    }
    dialog {
        max-width: 98vw;
        height: 89vh;
        width: 88vw;
        max-height: 89vh;
    }

    .input-set input {
        width: 58%;
    }
    .sample-op-buttons span {
        font-size: 1.4rem;
    }

    .merge-info, .edit-info, .settings-info {
        position: relative;
        font-size: 1.05rem;
        opacity: .8;
        float: left;
        max-width: 80%;
        margin-top: 1rem;
    }

    .edit-btn-group.float-left {
        max-width: 31%;
    }
    .edit-btn-group.float-right {
        max-width: 55%;
    }

}

@media (max-width: 430px) {
    html {
        font-size: 50%;
        overflow-x: hidden;
    }
    .all-options {
        width: 100vw;
        padding-right: 1rem;
    }
    .container {
        display: block;
        margin: -2rem 0 0 -2rem;
    }
    #toggleOptionsButton {
        /*margin-top: 34rem;*/
    }
    .edit-btn-group.float-left {
        max-width: 44%;
        margin-top: 4rem;
    }
    .edit-btn-group.float-right {
        max-width: 23%;
    }
    .zoom-level {
        clear: right;
    }
}

@media (max-width: 980px) {
    #opExportPanelContent {
        display: none;
    }
    #opExportPanel::before {
        content: 'OP Kit Builder requires a wider screen width, please expand the window or zoom out.';
        position: absolute;
        margin-top: 5rem;
        padding: 2rem;
        font-size: 1.85rem;
        text-align: center;
        opacity: .85;
    }
}

@media (min-width: 1100px) {
    .info-panel-md, .split-panel-options, .edit-panel-options,
    .merge-panel-options, .not-served-md, .export-settings-panel-md,
    .op-export-panel-options {
        width: 1030px;
        top: 16vh;
        left: 50%;
        margin: 0px -535px;
        z-index: 1000;
        background-color: #202124;
        border: 1px solid orange;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 0 0 4px #cf8600;
        box-sizing: content-box;
        max-width: 1030px;
    }
    dialog {
        width: 1030px;
        max-width: 1030px;
    }
    .op-export-panel-options { top: 1vh;}
    #exportSettingsPanel, #welcomePanelMd {
        width: 768px;
        /*margin: 0 -384px;*/
        max-width: 768px;
    }

    #chainFileNameListPanel {
        width: 512px;
        max-width: 512px;
    }

    .edit-btn-group.float-right {
        max-width: 40%;
    }
}

/*@media (hover: none) and (pointer: coarse) {*/
/*    .touch-buttons { display: block; }*/
/*}*/

/*@media (hover: none) and (pointer: fine) {*/
/*    .touch-buttons { display: block; }*/
/*}*/

body.light,
body.light #allOptionsPanel,
body.light .slice-group,
body.light .pop-up,
body.light .dialog-pop-up,
body.light #opExportPanel,
body.light select,
body.light #toggleOptionsButton i,
body.light .selected-actions-button-list,
body.light *[class*=is-]:after,
body.light *[class*=sff-]:after
{
    background-color: #f5f5f5;
}

body.light .header-menu {
    background-color: #dddddd;
}

body.light .button-clear.remove {
    color: #c5c5c5;
}

body.light .button-clear.remove:hover {
    color: #e77d7d;
}

body.light .right-buttons:has(.toggle-seconds-per-file.on) button.check:not(.slice-grid-off),
body.light .right-buttons:has(.toggle-seconds-per-file.on) button.dl-spaced {
    pointer-events: none;
    color: #2f3234;
    border-color: #2f3234 !important;
    background-color: transparent !important;
    opacity: .15;
}

.toggle-seconds-per-file {
    opacity: .15;
    transition: all .25s ease;
}
.toggle-seconds-per-file.on {
    opacity: 1;
}

body.normalize-contrast a, body.normalize-contrast .waveform, body.normalize-contrast input {
    filter: contrast(0.5);
}

.toggle-help-panel {
    padding: 0;
    font-size: 1.5rem;
    border: 2px solid;
    box-sizing: content-box;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 5rem;
    float: right;
    margin-right: 1rem;
    margin-top: 0.5rem;
    text-align: center;
}

body.show-help .help-text {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    white-space: break-spaces;
    line-height: 1.5rem;
    text-align: left;
    border: 1px solid #606c76;
    border-radius: 5px;
    padding: 1rem;
    background-color: #202124;
    min-height: 6.5rem;
    font-size: 1.1rem;
    color: #606c76;
    transition: all 1s ease;
    min-width: 16.5rem;
    max-width: 30vw;
    z-index: 105;
}

body.light.show-help .help-text {
    background-color: #ede5d8;
}

body.light .slice-options #sliceSelection {
    background-color: #ede5d8;
}

body.light .op-key {
    background-color: transparent;
}
body.light .op-key-details {
    background-color: #f5f5f5;
}
body.light .op-key-spacer {
    border-top: 1px solid #f0e5d6;
}
body.light .op-key .center-c[title$='.'] {
    background-color: #7f8081;
}

html.scaled {
    font-size: 54%;
    overflow-x: hidden;
}

#dcDialog {
    max-width: 50rem;
    padding: 2rem 4.2rem 1.25rem 2rem;
    max-height: fit-content;
}
#dcDialog .prompt {
    padding-bottom: 2rem;
}
#dcDialog .buttons-group {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
#dcDialog .buttons-group button {
    min-width: 5rem;
}
body:not(.light) #dcDialog .prompt {
    color: #98a4ae;
}
